h1{
    color:red;
}
img {
    height:300px;
    width:400px; 
}
.largeTitle {
    color:blue;  
    font-size:72pt;
}
.lightGray{
    background:rgb(230,230,230);
}
#specialLink{
    font-weight:bold;
}